<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <title>沟通中</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/themes.css?v=2017129">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/h5app.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/fonts/iconfont.css?v=2016070717">
    <script src="__STATIC__/newcj/js/jquery.min.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible_css.debug.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible.debug.js"></script>
</head>
<body ontouchstart>
<div class='fui-page-group'>
<div class='fui-page chatDetail-page'>
    <div class="chat-header flex">
        <i class="icon icon-toleft t-48"></i>
        <span class="shop-titlte t-30"></span>
        <span class="shop-online t-26"></span>
        <span class="into-shop">进店</span>
    </div>
    <div class="fui-content navbar" style="padding:1.2rem 0 1.35rem 0;">
        <div class="chat-content">
            <p style="display: none;text-align: center;padding-top: 0.5rem" id="more"><a>加载更多</a></p>
            <p class="chat-time"><span class="time">2017-11-12</span></p>

            <!-- <div class="chat-text section-left flex">
              <span class="char-img" style="background-image: url(http://chat.com/static/newcj/img/123.jpg)"></span>
              <span class="text"><i class="icon icon-sanjiao4 t-32"></i>你好</span>
            </div> -->

            <!-- <div class="chat-text section-right flex">
            <span class="text"><i class="icon icon-sanjiao3 t-32"></i>你好</span>
            <span class="char-img" style="background-image: url(http://chat.com/static/newcj/img/132.jpg)"></span>
           </div>
 -->
        </div>
    </div>
    <div class="fix-send flex footer-bar">
        <i class="icon icon-emoji1 t-50"></i>
        <input class="send-input t-28" maxlength="200">
        <input type="file" id="image" name="pic" style="display: none;">
        <i class="icon icon-add image t-50" style="color: #888;"></i>
        <span class="send-btn">发送</span>
    </div>
</div>
</div>

<script>
     var API = 'http://chat.com/api/Chat/';
     var lujing = 'http://chat.com/static/images/';
     var fromId = {$fromId};
     var toId = {$toId};
     var fromimage = '';
     var toimage='';
     var online = '';
     var ws =  new WebSocket("ws://127.0.0.1:8282");
      ws.onmessage = function(e){ 
          var text = JSON.parse(e.data); 
          switch(text.type){
            case 'db':
                save_message(text);
              break;
            case 'bind':
               var message = {'type':'bind','fromid':fromId,'toid':toId};
               var message = JSON.stringify(message);
               ws.send(message);
               var online =  {'type':'online','fromid':fromId,'toid':toId};
               var online = JSON.stringify(online);
               ws.send(online);//用户是否在线
               get_headimg(fromId,toId);
               get_membername(fromId,toId);
               get_message(fromId,toId);
              break;
            case 'text':
                $('.chat-content').append('<div class="chat-text section-left flex"><span class="char-img" style="background-image: url('+lujing+toimage+')"></span><span class="text"><i class="icon icon-sanjiao4 t-32"></i>'+text.msg+'</span></div>');
                $('.chat-content').scrollTop(3000);
               break;
            case 'online':
               if(text.online){
                 online = 1;
                $('.shop-online').text('在线');
               }else{
                 online = 0;
                $('.shop-online').text('不在线');
               }
              break;
            case 'say_img':
                 $('.chat-content').append('<div class="chat-text section-left flex"><span class="char-img" style="background-image: url('+lujing+toimage+')"></span><span class="text"><i class="icon icon-sanjiao4 t-32"></i><img width="120em" height="120em" src="__ROOT__/uploads/'+text.msg+'" alt=""></span></div>');
                 $('.chat-content').scrollTop(3000);
              break;
          }
      }
      //发送
     $(".send-btn").click(function(){
         var text = $(".send-input").val();
         var message = {data:text,type:"say",fromid:fromId,toid:toId};
         var message = JSON.stringify(message);
         var online =  {'type':'online','fromid':fromId,'toid':toId};
         var online = JSON.stringify(online);
         ws.send(online);//用户是否在线
         ws.send(message);
         $('.chat-content').append('<div class="chat-text section-right flex"><span class="text"><i class="icon icon-sanjiao3 t-32"></i>'+text+'</span><span class="char-img" style="background-image: url('+lujing+fromimage+')"></span> </div>');
         $(".send-input").val("");
          $('.chat-content').scrollTop(3000);
     })

     //将聊天内容入库操作
     function save_message(text){
       $.post(API+'save_message',text, function(data) {
           console.log(data);
       });
     }
     //获取聊天名字
     function get_membername(fromId,toId){
       $.post(API+'get_Name',{fromid:fromId,toid:toId}, function(data) {
           $('.shop-titlte').text(data.tonickname);
       },'json');
     }
     //获取聊天头像
     function get_headimg(fromId,toId){
      //这里变成同步请求 要不然头像显示不出来
       $.ajaxSettings.async = false;
       $.post(API+'getImage',{fromid:fromId,toid:toId},function(data) {
           fromimage = data.fromimage;
           toimage = data.toimage;
       });
      $.ajaxSettings.async = true;
     }
     //获取聊天记录 最后十条
     function get_message(fromId,toId){
      $.post(API+'get_message',{fromid:fromId,toid:toId}, function(data) {
        //获取完之后 循环到 页面中
        $.each(data,function(index, el) {
           //如果记录中 fromid等于自己 那么就放在右边 否则左边
           if(el.fromid == fromId){
              $('.chat-content').append('<div class="chat-text section-right flex"><span class="text"><i class="icon icon-sanjiao3 t-32"></i>'+el.content+'</span><span class="char-img" style="background-image: url('+lujing+fromimage+')"></span> </div>');
           }else{
               $('.chat-content').append('<div class="chat-text section-left flex"><span class="char-img" style="background-image: url('+lujing+toimage+')"></span><span class="text"><i class="icon icon-sanjiao4 t-32"></i>'+el.content+'</span></div>');
           }

           $('.chat-content').scrollTop(3000);
        });
           
       },'json');
     }



     //点击上传图片
     $('.image') .click(function(){
        $('#image').click();
     })
    $('#image').change(function(){
      
        var formData = new FormData();
        formData.append('fromid', fromId);
        formData.append('toid', toId);
        formData.append('online', online);
        formData.append('file',$('#image')[0].files[0]);
        $.ajax({
          url: API+'uploadimg',
          type: 'POST',
          cache:false,
          dataType: 'json',
          data:formData,
          processData:false,
          contentType:false,
          success:function(data,status,xhr){
            console.log(data);
            console.log(status);
            //如果上传成功那么像socket 发送
            if(data.status == 'ok'){

                 
                   $('.chat-content').append('<div class="chat-text section-right flex"><span class="text"><i class="icon icon-sanjiao3 t-32"></i><img width="120em" height="120em" src="__ROOT__/uploads/'+data.name+'" alt=""></span><span class="char-img" style="background-image: url('+lujing+fromimage+')"></span> </div>');
                   $('.chat-content').scrollTop(3000);
                  $message = '{"type":"say_img","fromid":"'+fromId+'","toid":"'+toId+'","data":"'+data.name+'"}';

                  ws.send($message);
            }else{
              console.log(data.status);
            }
          }
          
        })
        
    })
</script>
</body>
</html>
